%div{ class: "#{type.to_s}" }
  .container
    .row
      .col
        = image_tag object[user].image, class: 'rounded-circle img-small'
      .col
        = object[user].first_name
        = object[user].last_name
      .col
        = object[type].amount
      - if type.to_s == 'debt' && object[user] != current_user
        .col
          = link_to 'Set as covered', user_cover_path(object[user], object[type]), class: 'btn btn-info btn-sm', method: :put
    .row
      .col
        = object[type].purpose
