%div{ class: "#{type.to_s}" }
  %table.w-100.text-center.table.mb-0
    %tr
      %td= image_tag object[user].image, class: 'rounded-circle img-small'
      %td.font-weight-bold.align-middle
        = link_to object[user] do
          = object[user].first_name
          = object[user].last_name
      %td.font-weight-bold.align-middle
        = object[type].amount
      %td
        - if type.to_s == 'debt' && (object[type].debtor == current_user) && !object[type].paid
          = link_to 'Set as covered', user_cover_path(object[user], object[type]), class: 'btn btn-info btn-sm', method: :put
    %tr
      %td{colspan: '4'}= object[type].purpose

