.borders-grey.bg-white.p-4
  %h5.text-center.c-red Define a new debt
  = form_for(debt, url: user_debts_path(user)) do |f|
    = render 'shared/error_messages', object: debt
    %h5 Select type
    .field
      "You owed #{user.first_name.capitalize}"
      = radio_button_tag :creditor, true, checked: true
    .field
      "You borrowed money to #{user.first_name.capitalize}"
      = radio_button_tag :creditor, false
    %br
    .field
      = f.label :purpose, '* Purpose:'
      = f.text_field :purpose, class: 'grey-input',
                               placeholder: 'Write a few words about the debt'
    .field.w-50
      = f.label :amount, '* Amount:'
      = f.number_field :amount, class: 'grey-input', value: 0, step: 0.01
    %br
    .text-center
      = f.submit 'Create!', class: 'btn btn-success'
