.container.border-top
  .row
    .col-3.bg-grey
      .text-center.my-4.mh-100
        = image_tag @user.image, class: 'rounded-circle img-medium'
        %h4.c-red
          = @user.first_name
          = @user.last_name
        .font-italic= @user.email
        - if not_current_user(@user)
          = render 'debts/new', debt: @debt, user: @user
        - else
          .mt-3= link_to 'Create a new debt', users_path, class: 'btn btn-secondary'
    .col-9
      - if not_current_user(@user)
        .my-3.text-center= link_to 'History of transactions', user_history_path(@user), class: 'btn btn-secondary'
        .row
          .col
            %h4.c-red.font-weight-bold.text-center.my-3.border-bottom
              = "#{@user.first_name}'s"
              active debts
            - @dashboard.user_active_debts.each_value do |debt|
              = render 'debts/debt', object: debt, user: :creditor, type: :debt
          .col
            %h4.c-green.font-weight-bold.text-center.my-3.border-bottom
              = "#{@user.first_name}'s"
              active credits
            - @dashboard.user_active_credits.each_value do |credit|
              = render 'debts/debt', object: credit, user: :debtor, type: :credit
      - else
        = render 'debts/history'