.row
  .col-3.offset-md-1
    .text-center
      .image.p-1.pt-2
        = image_tag @user.image, class: 'rounded-circle img-medium'
      .info.p-1
        %h4.c-red
          = @user.first_name
          = @user.last_name
        = @user.email
      = link_to 'History of transactions', user_history_path(@user), class: 'btn btn-secondary'
    = render 'debts/new', debt: @debt, user: @user
  .col-8
    %h3.text-center
      = @user.first_name
      activity
    .row.bg-white
      .col
        %h4.c-red Debts
        - @dashboard.user_debts.each_value do |debt|
          = render 'debts/debt', object: debt, user: :creditor, type: :debt
      .col
        %h4.c-green Credits
        - @dashboard.user_credits.each_value do |credit|
          = render 'debts/debt', object: credit, user: :debtor, type: :credit
