.form-wrapper.mx-auto.my-auto.p-4.pb-0.text-center
  %h2 Change your password
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .field.form-group
      = f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: 'Password', class: 'grey-input'
    .field.form-group
      = f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password confirmation', class: 'grey-input'
    .actions.form-group
      = f.submit 'Change my password', class: 'btn btn-success'
  = render 'devise/shared/links'
