%nav.navbar.navbar-expand-lg.navbar-light.bg-white.px-5.font-weight-bold
  = link_to root_path, class: 'navbar-brand' do
    Bailiff
    %span.c-red 2.0
  %button.navbar-toggler{ 'aria-controls' => 'navbar-collapse',
                          'aria-expanded' => 'false',
                          'aria-label' => 'Toggle navigation',
                          'data-toggle' => 'collapse',
                          'data-target' => '#navbar-collapse',
                          type: 'button' }
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbar-collapse
    - if user_signed_in?
      .navbar-nav.mr-auto
        = link_to 'All users', users_path, class: 'nav-item nav-link'
      .navbar-nav.mx-auto
        = link_to 'Dashboard', root_path, class: 'nav-item nav-link'
      .navbar-nav.ml-auto
        = link_to current_user, class: 'nav-item nav-link' do
          = image_tag current_user.image, class: 'rounded-circle img-small'
          = current_user.first_name
          = current_user.last_name
        = link_to 'Settings', edit_user_registration_path(current_user),
          class: 'nav-item nav-link'
        = link_to 'Log out', destroy_user_session_path, method: :delete,
          class: 'nav-item nav-link'
    - else
      .navbar-nav.ml-auto
        = link_to new_user_session_path do
          %button{ class: ['btn',
                          'btn-outline-success',
                          'mx-3',
                          'my-2',
                          'text-uppercase'],
                          type: 'button' }
            log in
        = link_to new_user_registration_path do
          %button{ class: ['btn',
                          'btn-success',
                          'mx-3',
                          'my-2',
                          'text-uppercase'],
                          type: 'button' }
            sign up
